<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>موتور جست‌وجو</title>
</head>
<body dir="rtl">
    <h1>موتور جست‌وجو</h1>
    <form method="post" action="/">
        <label for="query">عبارت مورد نظر خود را وارد کنید:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">بگرد</button>
    </form>
    
    {% if query %}
        <h2>نتایج جست‌وجو برای: "{{ query }}"</h2>
        <ul>
            {% for result in results %}
                <li>
                    <a href="{{ result['url'] }}"><strong>{{ result["title"] }}</strong></a></br> 
                    {{ result["content"][:200] }}...
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
